<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
    <meta charset="UTF-8">
    <title>My project company Home Page</title>
</head>
<body>
<h2>My project company Home Page</h2>
<hr>
<!-- display user name and role -->
<p>
    User: <span sec:authentication="principal.username"></span>
    <br><br>
    Role(s): <span sec:authentication="principal.authorities"></span>
</p>

<p>
  Welcome to my Home page
</p>
<!-- Add a logout button-->
<form action="#" th:action="@{/logout}" method="POST">
    <input type="submit" value="Logout"/>

</form>
</body>
</html>